<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="myview" padding>
  <ion-grid style="margin-top: 20%">
    <ion-row style="text-align: center">
      <ion-col align-self-center>

        <img src="assets/images/logo_large.png" style="height: 100px;width: 190px;" />
      </ion-col>
    </ion-row>
    <ion-row center style="margin-top: 10px">
      <ion-col col-12>

        <ion-list radio-group inset>
          <form [formGroup]="loginForm" class="formContainer">
             <ion-item>
              <ion-label floating>Username</ion-label>
              <ion-input type="text" value="" formControlName="username" [(ngModel)]="username"></ion-input>
            </ion-item>
            <p class="errorClass" *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.dirty || submitAttempt)">* Please enter username</p>
 
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" value="" formControlName="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <p class="errorClass" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">* Please enter password</p>
          </form>
          <ion-item style="padding: 0">
  
            <button ion-button (click)="login()" block color="btn">Log In</button>

          </ion-item>

        </ion-list>
        <button ion-button (click)="openForgotPage()" clear full color="btn" >Forgot Password?</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>