<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <form [formGroup]="forgotForm" class="formContainer">
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>
  <p class="errorClass" *ngIf="!forgotForm.controls.username.valid  && (forgotForm.controls.username.dirty || submitAttempt)">* Please Enter Username</p>
</form>
  <ion-item>
    <!-- <button (click)="login()"  ion-button color="danger" outline block>Log In</button> -->
    <button ion-button (click)="resetPassword()"  block color="btn">Reset Password</button>

  </ion-item>

</ion-list>
</ion-content>
