page-attendance {
    .headingData {
        background: color($colors,'themeColor');
        color: #fff
    }
    .headingData .col{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff
    }
    .subDetail .row {
    text-align: center;
    height: 45px;
    align-items: center;
    border-bottom: 1px solid #e6e6e6
}
.longTxt{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// .detailRow{
//     align-items: flex-end;
//     text-align: center;
//     height: 40px;
//     font-weight: bold;
//     font-size: 18px;
//     color: color($colors,'themeColor')
// }
// .subdetailRow{
//     align-items: center;
//     text-align: center;
//     font-size: 14px;
//     color: #666;
//     padding-bottom: 12px;
//     border-bottom: 0.5px solid #dedede 
// }
// .colBorder {
//     border-right: 0.5px solid #dedede 
// }
}

.detailRow{
    align-items: flex-end;
    text-align: center;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: color($colors,'themeColor')
}
.subdetailRow{
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #dedede 
}
.colBorder {
    border-right: 0.5px solid #dedede 
}
