// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// side bar 

.userImg{
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 2px solid #fff;
  margin-top: 50px;
  
}
.toolbar-background {
background-color:color($colors,'btn');
}
.sliderIcon{
color: #fff;
font-size: 1.7em;
width: 30px;
}
.sliderLbl{
  margin-left: 10px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
 // text-transform: capitalize
}

.button-clear-ios{
  border-bottom: 1px solid #4f4f4f;
}


.button-clear-md{
  height: 40px
}   


//end

.iconFont { 
    font-family: icomoon;
    min-height: 1.9rem !important;
    font-size: 2.7rem !important;
    color: #000
  }
  // icomoon 
  .ExcelFile:before {
    content: "\eae2";
  }
  .NotepadFile:before {
    content: "\e924";
  }
  .WordFile:before {
    content: "\eae1";
  }
  .File:before {
    content: "\eae0";
  }
  .ImageFile:before {
    content: "\e927";
  }
  .ZipFile:before {
    content: "\e92b";
  }
  .pdfFile:before {
    content: "\eadf";
  }
  .pptFile:before {
    content: "\e900";
  }
  .AudioFile:before {
    content: "\e902";
  }
  .VideoFile:before {
    content: "\e901";
  }
  


.toast-container {
    background-color:#ff4d4d;
}

ion-app [no-padding] .scroll-content{
    background-color: #f2f2f2
}
.toolbar-background{
background-color: color($colors,'primary')
}
.closeTxt{
    color: #78B254 !important
}
.openTxt{
    color: #F7403A !important
}

.feedback{
    color: #004d99 !important
}

.compliment{
    color:#660066 !important
}

.toast-container {
    background-color: #5DBB59;
}

.testColor {
   // background-color: #e7f4fe;
    color: #003b8e
}
.item-divider-md {
    font-size: 19px !important;
    color: #003b8e 
}

.item-divider-ios {
    font-size: 19px !important;
    color: #003b8e
}
.item-inner > ion-icon {
    font-size: 2.2rem !important;
    color: gray
}